<h1>LOGIN</h1>
<form action="/api/sessions/login" method="post">
    Password: <input type="password" name="password" id="password">
    Email: <input type="text" name="email" id="email">
    <input type="submit" value="LOGIN">
</form>

<button onclick="location.href='/api/sessions/auth/github'">GITHUB</button>